<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content edit-modal-container">
            <div class="modal-header">
                <h5 class="modal-title" [innerText]="initializePokemon ? 'Edit Pokemon': 'Add new pokemon'"></h5>
                <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
            </div>
            <div class="modal-body">               

                <pokemon-card [initializePokemon]="pokemon" (pokemonModified)="modifyPokemon($event)">

                </pokemon-card>     

            </div>
            <div class="modal-footer c-ta-center">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button  type="button" class="btn btn-primary" (click)="add()"
                    [innerText]="initializePokemon ? 'Edit Pokemon': 'Add Pokemon'"></button>
            </div>
        </div>
    </div>
</div>