@import '../../../styles/colors.scss';

.c-save-team {
    float: right;
    margin-left: 5px;
}

.c-team-tabs-container {
    display: inline-block;
    width: 100%;
}

.c-team-tabs {
    display: inline-block;
    margin-top: 24px;
}

.nav-link > a {
    text-decoration: none;
}

.c-team-tabs-container {
    background-color: $surface-300;
}

.c-tabs-buttons {    
    display: inline-block;
    float: right;
}

.active {
    background-color: $surface-400 !important;
    border-color: $surface-600 !important;
    color: $text-color-100 !important;
}

.nav-link:active {
    background-color: $surface-400 !important;
    border-color: $surface-600 !important;
    color: $text-color-100 !important;
}

.nav-link {
    height: 44px;
}

.nav-link:not(:active) {
    cursor: pointer;
    background-color: $surface-500;
    border-color: $surface-600 !important;
    color: $text-color-100;
}
.nav-link:not(:active):hover {
    border-color: $surface-600 !important;
    background-color: $surface-400 !important;
}

.c-team-container {    
    background-color: $surface-200;
    padding: 20px;
}