<div class="c-team-tabs-container">
    <div class="c-team-tabs">
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let pokemon of pokemons; let i = index">
                <a class="nav-link" [ngClass]="{'active':  active === i}" (click)="onActiveTab(i)">{{pokemon?.name}}</a>
                <button type="button" class="btn-close" [disabled]="pokemons.length === 1" aria-label="Close"
                    (click)="deletePokemon(i)"></button>
            </li>
            <li class="nav-item" *ngIf="pokemons.length < 6">
                <a class="nav-link" (click)="addPokemon()">Add</a>
            </li>
        </ul>
    </div>
    <button type="button" class="c-save-team btn btn-primary" (click)="saveTeam()">Save
        team</button>
    <button type="button" class="c-save-team btn btn-primary" (click)="setExportModal(true)">Export
        team</button>
    <button type="button" class="c-save-team btn btn-primary" (click)="setImportModal(true)">Import
        team</button>
</div>

<ng-container *ngFor="let pokemon of pokemons; let i = index">

    <pokemon-card *ngIf="i===active" [initializePokemon]="pokemons[active] || undefined"
        (pokemonModified)="modifyPokemon($event)">
    </pokemon-card>

</ng-container>

<show-export-modal *ngIf="showExportTeamModal" [title]="'Export pokemon team'" (onClose)="setExportModal(false)" (onExportSheet)="exportTeam($event)"></show-export-modal>
<import-sheet-modal *ngIf="showImportTeamModal" [title]="'Import pokemon team'"  (onClose)="setImportModal(false)" (onImportSheet)="importTeam($event)"></import-sheet-modal>