.c-save-team {
    float: right;
    margin-left: 5px;
}

.c-team-tabs-container {
    display: inline-block;
    width: 100%;
}

.c-team-tabs {
    display: inline-block;
}

.nav-link > a {
    text-decoration: none;
}