.dropdown-toggle {
    width: 100%;
}

.c-move {
    display: inline-block;
width: 130px;
}
.c-power {
    display: inline-block;
width: 50px;
}
.c-type {
    display: inline-block;
width: 80px;
}
.c-category {
    display: inline-block;
width: 80px;
}
.c-crit {
    display: inline-block;
width: 50px;
}
.c-multipliers {
    display: inline-block;
width: 50px;
}