<form class="select-move-container">

  <div class="dropdown">
    <div class="row">
      <div class="col-4">

        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          (click)="initializeSearch()">
          {{selectedMove.name}}
        </button>
        <ul class="dropdown-menu">
          <input #moveInput class="form-control" type="text" placeholder="" aria-label="Number"
            [formControl]="autocompleteControl">
          <ng-container *ngFor="let option of (filteredOptions | async).slice(0,10)">
            <li><a class="dropdown-item" (click)="selectMove(option)">{{option}}</a></li>
          </ng-container>
        </ul>
      </div>
      <div class="col-2">
        {{selectedMove.bp}}
      </div>
      <div class="col-3">
        {{selectedMove.type}}
      </div>
      <div class="col-3">
        {{selectedMove.category}}
      </div>
    </div>
  </div>

</form>