@import '../../../styles/colors.scss';

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    background-color: $surface-400;
}

.dropdown-item {
    color: $text-color-100;
}
.dropdown-item:hover {
    background-color: $primary-600;
}

.c-btn-multipliers {
    margin-left: 10%;
}
