<form [formGroup]="form">

    <table class="table caption-top">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="c-ta-center">Base</th>
                <th scope="col" class="c-ta-center">IVs</th>
                <th scope="col" class="c-ta-center">EVs</th>
                <th scope="col" class="c-ta-center"></th>
                <th scope="col" class="c-ta-center">Boost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HP</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="hpBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="hpIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="hpEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.hp.total || 100}}</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Attack</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="atkBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="atkIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="atkEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.atk.total || 100}}</span>
                </td>
                <td>
                    <div class="">
                        <select class="c-input-primary" formControlName="atkBoost">
                            <option class="c-option-primary" *ngFor="let numValue of boosts" [value]="numValue">
                                {{numValue > 0 ? ('+' + numValue) : numValue}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Defense</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="defBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="defIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="defEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.def.total || 100}}</span>
                </td>
                <td>
                    <div class="">
                        <select class="c-input-primary" formControlName="defBoost">
                            <option class="c-option-primary" *ngFor="let numValue of boosts" [value]="numValue">
                                {{numValue > 0 ? ('+' + numValue) : numValue}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Sp. Attack</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="spaBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="spaIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="spaEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.spa.total || 100}}</span>
                </td>
                <td>
                    <div class="">
                        <select class="c-input-primary" formControlName="spaBoost">
                            <option class="c-option-primary" *ngFor="let numValue of boosts" [value]="numValue">
                                {{numValue > 0 ? ('+' + numValue) : numValue}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Sp. Defense</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="spdBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="spdIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="spdEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.spd.total || 100}}</span>
                </td>
                <td>
                    <div class="">
                        <select class="c-input-primary" formControlName="spdBoost">
                            <option class="c-option-primary" *ngFor="let numValue of boosts" [value]="numValue">
                                {{numValue > 0 ? ('+' + numValue) : numValue}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Speed</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="255" [defaultValue]="80"
                            formControlName="speBase">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" min="0" max="31" [defaultValue]="31"
                            formControlName="speIVs">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="number" class="c-ta-center c-input-primary" step="4" min="0" max="252"
                            [defaultValue]="0" formControlName="speEVs">
                    </div>
                </td>
                <td>
                    <span class="c-ta-center"> {{pokemonStats.spe.total || 100}}</span>
                </td>
                <td>
                    <div class="">
                        <select class="c-input-primary" formControlName="speBoost">
                            <option class="c-option-primary" *ngFor="let numValue of boosts" [value]="numValue">
                                {{numValue > 0 ? ('+' + numValue) : numValue}}
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <span class="c-ta-center" [ngClass]="{'c-red': remainingEvs < 0}">{{totalEvs}}</span>
                </td>
                <td>
                    <span class="c-ta-center" [ngClass]="{'c-red': remainingEvs < 0}"> {{remainingEvs}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</form>