<mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Pokemon</mat-card-title>
            <mat-card-subtitle>
                <pokemon-autocomplete
                    [pokedexSuggestions]="pokedexSuggestions"
                    [initializedPokemon]="pokemon.name"
                    (selectedPokemon)="selectPokemon($event)">

                </pokemon-autocomplete>

            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div class="mat-elevation-z8">

                <pokemon-level 
                    [initializedLevel]="pokemon.level"
                    (level)="selectLevel($event)">
                </pokemon-level>

                <pokemon-type 
                    [type]="pokemonDex.type"
                    (changeType)="selectType($event)">
                </pokemon-type>

                <pokemon-type 
                    [type]="pokemonDex.type2"
                    (changeType)="selectType2($event)">
                </pokemon-type>

                <pokemon-nature 
                    [nature]="pokemon.nature"
                    (changeNature)="selectNature($event)">
                </pokemon-nature>

                <pokemon-stats *ngIf="pokemon"
                    [pokemonStats]="pokemon.stats"
                    [pokemonName]="pokemon.name"
                    [level]="pokemon.level"
                    [nature]="pokemon.nature"
                    (changeStats)="changeStats($event)">
                </pokemon-stats>

                <pokemon-move 
                    [move]="pokemon.move1"
                    (changeMove)="selectMove(1, $event)">
                </pokemon-move>

                <pokemon-move 
                    [move]="pokemon.move2"
                    (changeMove)="selectMove(2, $event)">
                </pokemon-move>

                <pokemon-move 
                    [move]="pokemon.move3"
                    (changeMove)="selectMove(3, $event)">
                </pokemon-move>

                <pokemon-move 
                    [move]="pokemon.move4"
                    (changeMove)="selectMove(4, $event)">
                </pokemon-move>

            </div>

        </mat-card-content>

</mat-card>