/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #ff0000;
$primary-200: #ff4323;
$primary-300: #ff623e;
$primary-400: #ff7c59;
$primary-500: #ff9473;
$primary-600: #ffaa8e;

/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #121212;
$surface-200: #282828;
$surface-300: #3f3f3f;
$surface-400: #575757;
$surface-500: #717171;
$surface-600: #8b8b8b;

$text-color-100: white;
$overlay-color: #0000006b;