<form class="select-pokemon-container">


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" (click)="initializeSearch()">
      {{pokemon}}
    </button>
    <ul class="dropdown-menu">
      <input #pokemonInput class="form-control" type="text" placeholder="" aria-label="Number" [formControl]="myControl">
      <ng-container *ngFor="let option of (filteredOptions | async).slice(0,10)">
        <li><a class="dropdown-item" (click)="selectPokemon(option)">{{option}}</a></li>
      </ng-container>
    </ul>
  </div>

</form>