.c-pokemon-title {
    font-weight: bold;
    display: inline-block;
}

.c-btn-icon {
    display: inline-block;
    float: right;
    width: 40px;
    margin-left: 5px;
}

.c-title-oponent-container {
    width: 100%;
}