.c-calc-button {
    width: 100%;
    margin: 3px;
}

.bg-light-blue {
    background-color: rgb(88, 214, 197);
}

.bg-green {
    background-color: rgb(91, 201, 91);
}

.bg-yellow {
    background-color: rgb(194, 186, 73);
}

.bg-orange {
    background-color: rgb(235, 150, 53);
}

.bg-red {
    background-color: rgb(216, 76, 76);
}