@import '../../../styles/colors.scss';

.c-input-primary {
    width: calc(100% - 30px);
    margin: 3px;
    text-align: center;
}

.c-color-calc {
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px $surface-100;
}

.bg-light-blue {
    background-color: #bafffb
}

.bg-green {
    background-color: #b9ffae
}

.bg-yellow {
    background-color: #fff6af
}

.bg-orange {
    background-color: #ffd19b
}

.bg-red {
    background-color: #ffb2a1
}
