

<button type="button" class="btn btn-primary" (click)="saveSheet()" >Save team</button>
<div>
  <button mat-raised-button color="primary" (click)="addPokemon()">Add Pokemon</button>
</div>

<div class="row">
  <ng-container *ngFor="let pokemon of pokemons.values()">
    <div class="col-lg-4 col-md-6 col-12">
      <opponent-pokemon [pokemon]="userPokemon" [oponnentPokemon]="pokemon" [offensiveCalcs]="offensiveCalcs" (editPokemon)="editPokemon($event)" (deletePokemon)="deletePokemon($event)">

      </opponent-pokemon>
    </div>
  </ng-container>
</div>

<edit-pokemon-modal *ngIf="showModal" [initializePokemon]="pokemonToEdit" (addPokemon)="savePokemon($event)"
  (closeModal)="closeModal()">

</edit-pokemon-modal>