<div class="c-control-btn-panel">

  <div class="c-control-btn-plus-container">
    <button type="button" class="c-add-pokemon btn c-btn-primary" ngbTooltip="Add Pokemon" (click)="addPokemon()"><i
        class="fa-solid fa-plus"></i></button>
  </div>
  <div class="c-save-buttons-container">
    <div class="c-control-btn-container">
      <button type="button" class="c-save-team btn c-btn-primary" ngbTooltip="Save sheet" (click)="saveSheet()"><i
          class="fa-solid fa-floppy-disk"></i></button>
    </div>
    <div class="c-control-btn-container">
      <button type="button" class="c-save-team btn c-btn-primary" ngbTooltip="Import sheet"
        (click)="setImportModal(true)"><i class="fa-solid fa-upload"></i></button>
    </div>
    <div class="c-control-btn-container">
      <button type="button" class="c-save-team btn c-btn-primary" ngbTooltip="Export Sheet"
        (click)="setExportModal(true)"><i class="fa-solid fa-download"></i></button>
    </div>
  </div>
</div>

<div class="row">
  <ng-container *ngFor="let pokemon of pokemons.values()">
    <div class="col-lg-4 col-md-6 col-12 mt-20">
      <opponent-pokemon [pokemon]="userPokemon" [oponnentPokemon]="pokemon" [offensiveCalcs]="offensiveCalcs"
        (editPokemon)="editPokemon($event)" (deletePokemon)="deletePokemon($event)">

      </opponent-pokemon>
    </div>
  </ng-container>
</div>

<div class="c-control-btn-plus-container mt-20" *ngIf="pokemons.size">

  <button type="button" class="c-add-pokemon btn c-btn-primary" ngbTooltip="Add Pokemon" (click)="addPokemon()"><i
      class="fa-solid fa-plus"></i></button>
</div>

<edit-pokemon-modal *ngIf="showModal" [initializePokemon]="pokemonToEdit" (addPokemon)="savePokemon($event)"
  (closeModal)="closeModal()">

</edit-pokemon-modal>


<show-export-modal *ngIf="showExportModal" [title]="'Export pokemon sheet'" (onClose)="setExportModal(false)"
  (onExportSheet)="exportSheet($event)"></show-export-modal>
<import-sheet-modal *ngIf="showImportModal" [title]="'Import pokemon sheet'" (onClose)="setImportModal(false)"
  (onImportSheet)="importSheet($event)"></import-sheet-modal>