<div class="container-lg mt-20">

    <team (activePokemon)="modifyPokemon($event)"></team>

    <div class="mt-20 c-control-panel-container">
        <div class="row justify-content-md-center" data-toggle="buttons">

            <div class="col-auto col-md-3">
                <input type="radio" class="btn-check" name="btnradio" id="defensiveCalcs" autocomplete="off"
                    [checked]="!offensiveCalcs">
                <label class="c-offensive-btn btn c-btn-primary" [ngClass]="{'active': !offensiveCalcs}"
                    (click)="setOffensivecalcs(false)">Defensive</label>
            </div>
            <div class="col-auto col-md-3">
                <input type="radio" class="btn-check" name="btnradio" id="offensiveCalcs" autocomplete="off"
                    [checked]="offensiveCalcs">
                <label class="c-offensive-btn btn c-btn-primary" [ngClass]="{'active': offensiveCalcs}"
                    (click)="setOffensivecalcs(true)">Offensive</label>
            </div>

        </div>
    </div>

    <div class="mt-20 mb-20">
        <opponent-pokemon-container [userPokemon]="pokemon" [offensiveCalcs]="offensiveCalcs">

        </opponent-pokemon-container>
    </div>
</div>