@import '../../../styles/colors.scss';

.container-lg {
    background-color: $surface-100;
    color: $text-color-100;
    padding-bottom: 20px;
}

.active {    
    color: #fff !important;
    background-color: $primary-200 !important;
    border-color: $primary-300 !important;
}

.c-control-panel-container, .c-opponent-pokemon-container {
    background-color: $surface-200;
    padding: 20px;
}

.c-offensive-btn {
    width: 100%;
}

.c-control-panel {
    background-color: $surface-400;
    padding: 20px;
    margin: 0;
}