<div class="container-lg mt-20">

    <team (activePokemon)="modifyPokemon($event)"></team>

    <div class="mt-20 c-control-panel-container">
        <div class="row justify-content-md-center c-control-panel" data-toggle="buttons">

            <div class="col-auto col-md-3">
                <input type="radio" class="btn-check" name="btnradio" id="defensiveCalcs" autocomplete="off"
                    [checked]="!offensiveCalcs">
                <label class="c-offensive-btn btn c-btn-primary" [ngClass]="{'active': !offensiveCalcs}"
                    (click)="setOffensivecalcs(false)">Defensive</label>
            </div>
            <div class="col-auto col-md-3">
                <input type="radio" class="btn-check" name="btnradio" id="offensiveCalcs" autocomplete="off"
                    [checked]="offensiveCalcs">
                <label class="c-offensive-btn btn c-btn-primary" [ngClass]="{'active': offensiveCalcs}"
                    (click)="setOffensivecalcs(true)">Offensive</label>
            </div>

        </div>
        <div class="row justify-content-md-center c-control-panel" data-toggle="buttons">

            <div class="col-6 col-md-3 c-ta-center">
                <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': ruinMods?.includes('Tablets of Ruin (-Atk)')}"
                    (click)="setRuinMod('Tablets of Ruin (-Atk)')">Tablets of Ruin (-Atk)</button>
            </div>

            <div class="col-6 col-md-3 c-ta-center">
                <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': ruinMods?.includes('Vessel of Ruin (-SAtk)')}"
                    (click)="setRuinMod('Vessel of Ruin (-SAtk)')">Vessel of Ruin (-SAtk)</button>
            </div>
            
            <div class="col-6 col-md-3 c-ta-center">
                <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': ruinMods?.includes('Sword of Ruin (-Def)')}"
                    (click)="setRuinMod('Sword of Ruin (-Def)')">Sword of Ruin (-Def)</button>
            </div>
            
            <div class="col-6 col-md-3 c-ta-center">
                <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': ruinMods?.includes('Beads of Ruin (-SDef)')}"
                    (click)="setRuinMod('Beads of Ruin (-SDef)')">Beads of Ruin (-SDef)</button>
            </div>

        </div>
    </div>

    <div class="mt-20 mb-20 c-opponent-pokemon-container">
        <opponent-pokemon-container [userPokemon]="pokemon" [offensiveCalcs]="offensiveCalcs">

        </opponent-pokemon-container>
    </div>
</div>