<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Move Multiplier</h5>
                <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <h6>Value</h6>
                    </div>
                    <div class="col-8 col-md-9">
                        <h6>Description</h6>
                    </div>
                </div>
                <div class="row" *ngFor="let multiplier of multipliers; let i = index">
                    <div class="col-4 col-md-3">
                        <input class="form-control c-input-primary" type="number" [(ngModel)]="multipliers[i].value">
                    </div>
                    <div class="col-7 col-md-8">
                        <input class="form-control c-input-primary" type="text"
                            [(ngModel)]="multipliers[i].description">
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close btn-close-white" aria-label="Close"
                            (click)="removeMultiplier(i)"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-3">
                        <button type="button" class="btn c-btn-primary" (click)="addMultiplier()">New
                            Multiplier</button>
                    </div>
                    <div class="col-8 col-md-9">
                        <span class="c-new-multiplier-text">You can add personalized attack multipliers</span>
                        <span class="c-icon-info" ngbTooltip="A multiplier is an amplifier/reducer of the power of the move. For example abilities like Guts, its value is 1.5"> +info</span>
                    </div>        
                </div>
                <div class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <input type="radio" class="btn-check" name="btnradio" id="singles" autocomplete="off"
                            [checked]="!doubles">
                        <label class="btn c-btn-primary" [ngClass]="{'c-btn-primary-active': !doubles}"
                            (click)="setDoubles(false)">Singles</label>

                        <input type="radio" class="btn-check" name="btnradio" id="doubles" autocomplete="off"
                            [checked]="doubles">
                        <label class="btn c-btn-primary" [ngClass]="{'c-btn-primary-active': doubles}"
                            (click)="setDoubles(true)">Doubles</label>

                    </div>
                </div>
                <div class="row">

                    <div class="col-6 c-ta-center">
                        <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': terrain}"
                            (click)="toggleField()">Terrain</button>
                    </div>

                    <div class="col-6 c-ta-center">
                        <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': weather}"
                            (click)="toggleWeather()">Wheater</button>
                    </div>
                </div>
                <div class="row">

                    <div class="col c-ta-center">
                        <button class="btn c-btn-primary c-multiplier-btn" [ngClass]="{'c-btn-primary-active': reflect}"
                            (click)="toggleReflect()">Screens</button>
                    </div>
                </div>
                <div class="row">

                    <div class="col c-ta-center">
                        <button class="btn c-btn-primary c-multiplier-btn"
                            [ngClass]="{'c-btn-primary-active': helpingHand}" (click)="toggleHH()">Helping Hand</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="button" class="btn c-btn-primary" (click)="saveMultipliers()">Save Mulitpliers</button>
            </div>
        </div>
    </div>
</div>