@import '../../../styles/colors.scss';

.modal {
    display: block!important;
    background-color: $overlay-color;
}

.modal-content {
    background-color: $surface-300;
    color: $text-color-100;
}
