@import '../../../styles/colors.scss';


.row {
    margin-top: 15px;
}

.c-new-multiplier-text {
    margin-left: 10px;
}

.c-multiplier-btn {
    width: 150px;
    max-width: 90%;
}

.c-icon-info {
    color: $primary-600;
    cursor: pointer;
}

.modal-body {
    padding: 25px;
}