/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $surface-100 !important;
}

.cdk-overlay-container {z-index: 999999 !important;}

.c-ta-center {
    text-align: center;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.m-top-5 {
    margin-top: 5px !important;
}

.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}

.modal-content {
    background-color: $surface-200 !important;
}

.modal {
    display: block!important;
    background-color: $overlay-color;
}

.modal-body, .modal-header, .modal-footer {
    background-color: $surface-400 !important;
}


.Dragon {
    color: $dragon;
}
.Fire {
    color: $fire;
}
.Steel {
    color: $steel;
}
.Flying {
    color: $flying;
}
.Rock {
    color: $rock;
}
.Electric {
    color: $electric;
}
.Water {
    color: $water;
}
.Grass {
    color: $grass;
}
.Fairy {
    color: $fairy;
}
.Normal {
    color: $normal;
}
.Dark {
    color: $dark;
}
.Ghost {
    color: $ghost;
}
.Ground {
    color: $ground;
}
.Ice {
    color: $ice;
}
.Fighting {
    color: $fighting;
}
.Poison {
    color: $poison;
}
.Psyquic {
    color: $psyquic;
}
.Bug {
    color: $bug;
}