/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $surface-100 !important;
}

.cdk-overlay-container {z-index: 999999 !important;}

.c-ta-center {
    text-align: center;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.m-top-5 {
    margin-top: 5px !important;
}

.p-15 {
    padding: 15px;
}